/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    a { 
        text-decoration: none;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    /*FIM RESET CSS */

     /* CABEÇALHO */
    .email_telefone {
        background-color: #106EEA;
        display: flex;
        height: 20px;
        padding: 20px;
    }
    
    .email {
        margin-left: 213px;
        color: white;
        font: 400 15px 'Open Sans', sans-serif;
    }
    
    .numero {
        margin-left: 220px;
        color: white;
        font: 400 15px 'Open Sans', sans-serif;
    }
    
    .logo {
        display: flex;
        margin-left: 230px;
    }
    
    .logo .nome {
        font: 600 30px 'Poppins' , sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    
    }
    
    .menu1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
    }
    
    .item {
        padding: 30px;
        padding-top: 50px;
        font: 400 20px 'Open Sans', sans-serif;
        color: black;
    }

    .container, .infos{
        display: flex;
    }
    #header .container{
        background-color: #106EEA;
    }
    .infos{
        margin-left: 182px;
        gap: 121px;
        padding: 11px 0;
    }
    #header .titulo{
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
    color: white;
    }
    .logo .titulo{
        font-family: Poppins-b;
    font-size: 45px;
    font-weight: 700;
    line-height: 68px;
    }
    #nav .item{
        font-family: Open Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
    }
    #nav{
        display: flex;
        gap: 47px;
    }
    #logo-nav{
        align-items: center;
        justify-content: space-evenly;
    }
    /* FIM CABEÇALHO */

    /*VIDRO*/

    .conteudo{
      text-align: right;
      right: 100px;

    }
    .titulo{
        font-family: Roboto-b;
font-size: 35px;
font-weight: 700;
line-height: 41px;
        
    }
 .subtitulo{
    font-family: Poppins;
font-size: 25px;
font-weight: 400;
line-height: 60px;
 }
    .vidros {
        background-image: url(Img/Vitral.png);
        height: 430px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 200px;
    }


    /* FIM VIDRO*/
    /*SOBRE*/
    #sobre .titulo{
        font-family: Roboto-b;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    
    }
    #nos{
        text-align: center;
        margin-bottom: 7px;
    }
    b{
        color: #106EEA;
    }
    #sobre .texto1{
        font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: justified;
    width: 587px;
    }
    #sobre{
        margin-top: 137px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    /*FIM SOBRE*/

    /*IMAGENS*/
    .caixas{
        display: flex;
    }
    .icon{
        width: 100px;
    }
    #caixa-c .numero{
        font-family: Open Sans-b;
        font-size: 33px;
        font-weight: 700;
        line-height: 45px;
    }
    #caixa-c .subtex{
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }
    #caixa-c.caixa{
        background-color: #F1F6FE;
        border: 1px solid #8CA9CE;
        border-radius: 10px;
        width: 254px;
        height: 244px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    #caixa-c{
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 135px;
    }
    

    .caixas{
        display: flex;
    }
    .icon{
        width: 100px;
    }
    #caixa-cima .numero{
        font-family: Open Sans-b;
        font-size: 33px;
        font-weight: 700;
        line-height: 45px;
    }
    #caixa-cima .sub{
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }
    #caixa-cima .caixa{
        background-color: #F1F6FE;
        border: 1px solid #8CA9CE;
        border-radius: 10px;
        width: 254px;
        height: 244px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    #caixa-cima{
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 135px;
    }
    /*FIM IMAGENS*/ 

    #servicos .titulo, #equipe .titulo{
        font-family: Roboto-b;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    }
    #servicos .texto, #equipe .texto{
        width: 856px;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 400;
        line-height: 33px;
        text-align: center;
    }
    #servicos, #equipe{
        margin-top: 170px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
    }
    #caixa-baixo .texto{
        font-family: Roboto;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        width: 230px
    }
    #caixa-baixo .caixa{
        height: 194px;
        width: 274px;
        border: 1px solid #8CA9CE;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #caixa-baixo{
        margin: 0 85px;
        flex-wrap: wrap;
        gap: 87px;
        justify-content: center;
        margin-top: 71px;
        padding-bottom: 101px;
    }
    .one{
        border-bottom: solid 2px #1150A3;
        ;
    }
    .pessoas{
        margin-top: 84px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .pessoa .titulo{
        font-family: Poppins-b;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    }
    .pessoa .texto{
        font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    }
    .pessoa{
        border: 1px solid #000000;
        border-radius: 7px;
    }
    .pessoa .conteudo{
        padding: 28px 0;
    }
    #baixo .texto{
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 400;
        line-height: 33px;
        text-align: justified;
    }
    #baixo .conteudo{
        margin: 62px 182px;
    }
    .two{
        border-bottom:  solid #1150A3;
    }
    #contato .titulo{
        font-family: Roboto-b;
        font-size: 35px;
        font-weight: 700;
        line-height: 41px;
        text-align: center;
    }
    #contato .texto{
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 400;
        line-height: 33px;
        text-align: center;
        margin: 5px 320px;
    }
    #contato{
        margin-top: 182px;
    }
    .endereco .titulo{
        font-family: Roboto-b;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        text-align: center;
    }
    .endereco .texto{
        margin-top: 20px;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        text-align: center; 
        width: 303px;   
    }
    .endereco{
        border: 1.23px solid #8CA9CE;
        padding: 130px 58px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #end-cont{
        margin: 0 182px;
    }
    input{
        background-color: #E5E5E5;
    }
    #nome, #email{
        width: 274px;
        height: 63px;
        border-radius: 15px;
    }
    #nome, #email, #assunto, #msg{
        font-family: Roboto-b;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        text-align: left;
        color: #C1C1C1;
        padding: 0 21px;
    }
    #assunto{
        width: 587px;
        height: 63px;
        border-radius: 15px;
    }
    #msg{
        width: 587px;
        height: 159px;
        border-radius: 15px;
    }
    form{
        width: 587px;
        display: flex;
        flex-wrap: wrap;
        gap: 39px;
        justify-content: center;
    }
    #end-cont{
        margin-top: 90px;
        display: flex;
        justify-content: space-around;
    }
    button{
        font-family: Roboto-b;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        text-align: center;
        color: white;
        background-color: #106EEA;
        border-radius: 15px;
        padding: 15px 45px;
        align-self: center;
    }
    footer .container{
        background-color: #1150A3;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 55px;
        margin-top: 135px;
    }
    footer .menu{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    footer .item{
        font-family: Open Sans;
        font-size: 25px;
        font-weight: 600;
        line-height: 34px;
        text-align: center;
        color: white;
    }
    .rede-logos{
        margin-top: 15px;
        display: flex;
        gap: 10px;
    }
    .redes .titulo{
        color: white;
        font-family: Open Sans;
        font-size: 30px;
        font-weight: 600;
        line-height: 41px;
        text-align: center;
    }
    .logo{
        width: 50px;
    }


